<div class="px-2 py-5 md:px-6 lg:px-8">
  <h2 class="text-900 text-5xl text-center">Projetos</h2>
  <div class="grid nogutter">

    <div class="col-12 lg:col-4 p-3">
        <div class="shadow-2 border-round h-full surface-card">
            <img src="./../../assets/images/blog-1.jpg" alt="Habilidades" class="block w-full border-round-top">
            <div class="p-4">
                <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
                <span class="font-medium text-blue-600">Repositório</span>

                <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Ecommerce Produtos Digitais</div>
                <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                <div class="flex">
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-4 p-3">
      <div class="shadow-2 border-round h-full surface-card">
          <img src="./../../assets/images/blog-2.jpg" alt="Habilidades" class="block w-full border-round-top">
          <div class="p-4">
              <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
              <span class="font-medium text-blue-600">Repositório</span>

              <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Ecommerce Loja Infantil</div>
              <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
              <div class="flex">
              </div>
          </div>
      </div>
  </div>

  <div class="col-12 lg:col-4 p-3">
    <div class="shadow-2 border-round h-full surface-card">
        <img src="./../../assets/images/blog-3.jpg" alt="Habilidades" class="block w-full border-round-top">
        <div class="p-4">
            <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
            <span class="font-medium text-blue-600">Repositório</span>

            <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Controle de Estoque</div>
            <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="flex">
            </div>
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-4 p-3">
    <div class="shadow-2 border-round h-full surface-card">
        <img src="./../../assets/images/blog-1.jpg" alt="Habilidades" class="block w-full border-round-top">
        <div class="p-4">
            <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
            <span class="font-medium text-blue-600">Repositório</span>

            <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Ecommerce Produtos Digitais</div>
            <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="flex">
            </div>
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-4 p-3">
    <div class="shadow-2 border-round h-full surface-card">
        <img src="./../../assets/images/blog-2.jpg" alt="Habilidades" class="block w-full border-round-top">
        <div class="p-4">
            <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
            <span class="font-medium text-blue-600">Repositório</span>

            <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Ecommerce Produtos Digitais</div>
            <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="flex">
            </div>
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-4 p-3">
    <div class="shadow-2 border-round h-full surface-card">
        <img src="./../../assets/images/blog-3.jpg" alt="Habilidades" class="block w-full border-round-top">
        <div class="p-4">
            <span class="font-medium text-blue-600 mb-3 mr-3">Visitar</span>
            <span class="font-medium text-blue-600">Repositório</span>

            <div class="text-xl text-900 font-medium mb-3 line-height-3 mt-3">Ecommerce Produtos Digitais</div>
            <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <div class="flex">
            </div>
        </div>
    </div>
  </div>
  </div>
</div>

