<h1 class="text-900 text-5xl text-center">Sobre Mim</h1>

<div class="px-2 py-6 md:px-6 lg:px-8">
  <div class="flex justify-content-center gap-5">

    <div class="flex justify-content-end lg:w-6 lg:pl-5">
      <img src="../../assets/images/imagem-jean.jpg" alt="imagem-jean-fernandine" height="550" class="border-round" />
    </div>

      <div class="lg:w-6 pr-0 lg:pr-5">
  <p class="mt-0 mb-4 text-700 line-height-4 text-left">
    <strong>Bem vindo ao meu portfólio pessoal!</strong><br><br> Meu nome é Jean e sou um <strong>Desenvolvedor Fullstack</strong> apaixonado por tecnologia.<br> Trabalho com desenvolvimento de software e, ao longo desse tempo, tive a oportunidade de criar projetos desafiadores, aprendendo e aprimorando minhas habilidades.
Ao explorar meu portfólio, você encontrará alguns dos projetos que desenvolvi, incluindo sistemas web e de software. Utilizei várias linguagens de programação, bancos de dados e tecnologias de desenvolvimento para criar soluções sob medida de acordo com a demanda do mercado.<br>
O que me diferencia de outros desenvolvedores é minha abordagem <strong>centrada no usuário</strong>. Antes de começar a desenvolver um projeto, dedico tempo para entender as necessidades do usuário e criar uma solução de fácil usabilidade e eficaz. Além disso, estou sempre buscando aprender e aprimorar minhas habilidades para fornecer as melhores soluções.
Se você estiver procurando por um desenvolvedor fullstack dedicado, entre em contato comigo.<br>  Estou sempre animado para iniciar novos projetos e criar <strong>soluções inovadoras</strong> que atendam às suas necessidades. Obrigado por visitar meu <strong>portfólio pessoal</strong>!
  </p>
  <div class="flex justify-content-start">
    <p-button
      pRipple
      (click)="linkedin()"
      type="button"
      label="Linkedin"
      icon="pi pi-linkedin"
      class="p-button-raised mt-1 mr-5"
    ></p-button>
    <p-button
      pRipple
      (click)="github()"
      type="button"
      label="GitHub"
      icon="pi pi-github"
      class="p-button-raised mt-1"
    ></p-button>
  </div>
</div>

</div>
</div>
