
  <div class="md:col-11 py-4 px-4 flex align-items-center justify-content-between relative lg:static" style="min-height: 80px">
  <img src="../../assets/images/logo.svg" alt="Logo - Fernandine Tech" height="40" class="ml-7 mr-0 lg:mr-6"/>
  <ul class="list-none flex justify-content-end flex lg:align-items-center select-none flex-column lg:flex-row">
        <li>
              <a pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <i class="pi pi-home mr-2"></i>
                  <span>Home</span>
              </a>
          </li>
          <li>
              <a (click)="scrollToComponent('componente-sobre')" pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <span>Sobre</span>
              </a>
          </li>
          <li>
              <a (click)="scrollToComponent('componente-habilidades')" pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                  <span>Habilidades</span>
              </a>
          </li>
          <li>
            <a (click)="scrollToComponent('componente-projetos')" pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
                <span>Projetos</span>
            </a>
        </li>
        <li>
          <a (click)="scrollToComponent('componente-contatos')" pRipple class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150">
              <span>Contatos</span>
          </a>
      </li>
      </ul>
</div>

<!--HERO-->
<div class="flex align-items-center mt-6 grid grid-nogutter text-800">
  <div class="col-12 md:col-6 ml-7 p-6 text-center md:text-left flex align-items-center">
    <section>
      <span class="block text-6xl font-bold mb-1">Olá, eu sou</span>
      <div class="text-6xl font-bold text-yellow-500 mb-3">Jean Fernandine</div>
      <div class="text-2xl font-bold text-white mt-0 mb-3">
        Especialista em Desenvolvimento Web <br>com conhecimento em
        <span class="text-yellow-500 underline">Java</span> e
        <span class="text-yellow-500 underline">Angular 2+</span>.
      </div>
      <p class="mt-0 mb-4 font-italic text-700 line-height-3">
        "Vamos criar algo incrível juntos!"
      </p>

      <p-button
        pRipple
        (click)="fazerDownloadCurriculo()" [disabled]="fazendoDownload"
        type="button"
        icon="pi pi-cloud-download"
        label="Currículo"
        class="p-button-raised m-3"
      ></p-button>
      <span *ngIf="fazendoDownload" class="ui-button-icon-left ui-spin pi pi-spinner"></span>
      <p-button
        pRipple
        (click)="scrollToComponent('componente-contatos')"
        type="button"
        icon="pi pi-phone"
        label="Contato"
        class="p-button-raised m-3"
      ></p-button>
    </section>
  </div>

  <img
    src="./../../assets/images/imagem-hero.png"
    alt="imagem-hero"
    class="w-2 lg:w-5"
  />
</div>

<div id="componente-sobre">
<app-sobre></app-sobre>
</div>
<div id="componente-habilidades">
<app-habilidades></app-habilidades>
</div>
<div id="componente-projetos">
<app-projetos></app-projetos>
</div>
<div id="componente-contatos">
<app-contatos></app-contatos>
</div>

<!--FOOTER-->
<div class="text-center px-2 py-5 md:px-6 lg:px-8">
  <div class=" border-top-1 border-300 pt-5 text-center"></div>
      <img
      src="../../assets/images/logo.svg"
        alt="Logo - Fernandine Tech"
        height="36"
      />
      <div class="mt-3 text-center">
        &copy; 2023 Jean Fernandine - All rights reserved
      </div>
      <div class="flex justify-content-end opacity-20">
        <button pButton type="button" icon="pi pi-arrow-up" (click)="scrollToTop()"></button>
        </div>
</div>

